<!DOCTYPE html>
<html lang="en">

<%- include('../layouts/Header')%>

    <body>

        <!-- Wrapper -->
        <div class="site-wrapper">

            <%- include('../layouts/Navigation')%>

                <!-- This section classes require for whole page sliders -->
                <div id="sequence" style="display:none;">
                    <ul class="seq-canvas">
                    </ul>
                </div>

                <!-- End Slider -->

                <!-- Main banner -->
                <div class="inner-page-main-banner services">
                    <!-- Bootstrap -->
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">

                                <!-- H2 heading -->
                                <h2>What we do</h2>
                                <!-- H1 Heading -->
                                <h1>ບໍລິການໃຫ້ຄຳປຶກສາກ່ຽວກັບລະບົບ</h1>
                                <!-- Bredcum links -->
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                                        <ul>
                                            <li> <a href="/">Home » </a> </li>
                                            <li>ບໍລິການໃຫ້ຄຳປຶກສາກ່ຽວກັບລະບົບ</li>
                                        </ul>
                                        <p>
                                            ພັນທະມິດດ້ານເທັກໂນໂລຢີທ້ອງຖຶ່ນຂອງທ່ານ .
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End bootstrap -->
                </div>
                <!-- End Main banner -->

                <!-- service box heading section -->
                <div class="service-box-heading inner-page-white-section">

                    <!-- Bootstrap -->
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">

                                <!-- H3 Heading -->
                                <h3>ເຮົາສ້າງຄວາມແຕກຕ່າງດ້ວຍການປ່ຽນຈິນຕະນາການ</h3>

                                <!-- Paragraph -->
                                <div class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-1 center-text">
                                    <p>Boni Tech ເປັນບໍລິສັດເທັກໂນໂລຢີພັດທະນາຊອບແວ ທີ່ມີມາດຕະຖານການພັດທະນາສູງ ເປັນທີ່ຍອມຮັບຂອງອົງກອນຫຼາຍໆປະເທດ. ເຮົາພາກພູູມໃຈທີ່ມີໂອກາດນຳເອົາເທັກໂນໂລຢີ ແລະ ຄວາມຊ່ຽວຊານມາລວມກັນ ເພື່ອນຳສະເໜີໂຊລູຊັນທີ່ຢັ່ງຢືນສຳລັບອົງກອນທີ່ໃຫຍ່ ແລະປະສົບຄວາມສຳເລັດຫລາຍທີ່ສຸດຂອງນິວຊີແລນ, ຍີ່ປຸ່ນ ແລະອອດສະເຕເລຍ. ເຮົາເຮັດວຽກຢ່າງໃກ້ຊິດກັບພັນທະມິດດ້ານເທກໂນໂລຢີຊັ້ນນຳໃນແອບພລິເຄຊັນຕ່າງໆ ເພື່ອຊ່ວຍໃຫ້ອົງກອນຈັດການສິນຊັບດິຈິຕອນຂອງຕົນໄດ້ດີຂຶ້ນ ທີມທີ່ປຶກສາ ແລະຜູ້ຊ່ຽວຊານຂອງເຮົານຳສະເໜີການດຳເນີນງານທີ່ຫຼາກຫຼາຍ</p>
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- End Bootstrap -->

                </div>
                <!-- End service box -->

                <!-- Two colom full width -->
                <div id="two-colom-1" class="service-full-width inner-page-grey-section">

                    <!-- Bootstrap -->
                    <div class="container">
                        <div class="row">

                            <!-- left colom -->
                            <div class="col-md-6 col-sm-12 ">

                                <div class="left-colom">
                                    <!-- H1 Heading -->
                                    <h1>ICT Consulting</h1>

                                    <!-- H2 heading -->
                                    <h2>ພັນທະມິດດ້ານເທັກໂນໂລຢີທ້ອງຖຶ່ນຂອງທ່ານ </h2>

                                    <!-- paragraph -->
                                    <p>ເຮົາເປັນພັນທະມິດດ້ານເທັກໂນໂລຢີຂອງທ່ານ. ການປະສົມປະສານທີ່ລົງຕົວລະຫວ່າງເທັກໂນໂລຢີລະດັບໂລກ ແລະພູປັນຍາທ້ອງຖິ່ນ.</p>

                                    <div class="list-box">
                                        <!-- H3 heading -->
                                        <!-- <h3>What is included</h3> -->

                                        <!-- list -->
                                        <!-- <ul>
                                            <li>Lorem Ipsum is simply dummy text of the printing </li>
                                            <li>And typesetting industry Lorem Ipsum has been the industrys </li>
                                            <li>Standard dummy text ever since the </li>
                                            <li>When an unknown printer took a galley of type </li>
                                            <li>And scrambled it to make a type specimen book It has. </li>
                                        </ul> -->
                                    </div>

                                    <!-- Button -->
                                    <!-- <a href="#" class="theme-btn">Read More</a> -->

                                </div>

                            </div>

                            <!-- Right colom -->
                            <div class="col-md-6 col-sm-12 no-padding-2">

                                <!-- image -->
                                <div class="customsection-3">
                                    <img src="/frontend/images/header/sysbase.jpg" alt="image">
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Bootstrap -->

                </div>
                <!-- End Two colom full width -->

                <!-- Two colom full width -->
                <div id="two-colom-2" class="service-full-width inner-page-grey-section">

                    <!-- Bootstrap -->
                    <div class="container">
                        <div class="row">

                            <!-- left colom -->
                            <div class="col-xs-12 col-sm-12 col-md-6 col-md-push-6">

                                <div class="left-colom pading-box">
                                    <!-- H1 Heading -->
                                    <h1>Marketing</h1>

                                    <!-- H2 heading -->
                                    <h2>ສ້າງສັ້ນດ້ານບວກ</h2>

                                    <!-- paragraph -->
                                    <p>

                                        ຄວາມຊ່ຽວ¬ຊານຂອງເຮົາໃນການນຳສະ¬ເໜີໂຊລູຊັນເທັກໂນໂລຢີ ຕັ້ງ¬ແຕ່ຄລາວຄອມພິວເຕີໄປສູ່ແອບພລິເຄຊັນດິຈິຕອນ ຊ່ວຍໃຫ້ເຮົາສາ¬ມາດຊ່ວຍ¬ເຫລືອລູກຄ້າແລະ ຊຸມຊົນຂອງເຮົາໃຫ້ຈະ¬ເລີນຂຶ້ນໄດ້ ດ້ວຍການກຳ¬ນົດອະ¬ນາ¬ຄົດລະບົບຂອງຕົນເອງ..</p>

                                    <div class="list-box">
                                        <!-- H3 heading -->
                                        <!-- <h3>What is included</h3> -->

                                        <!-- list -->
                                        <!-- <ul>
                                            <li>Lorem Ipsum is simply dummy text of the printing </li>
                                            <li>And typesetting industry Lorem Ipsum has been </li>
                                            <li>Standard dummy text ever since the </li>
                                            <li>When an unknown printer took a galley of type </li>
                                            <li>And scrambled it to make a type specimen book It has. </li>
                                        </ul> -->
                                    </div>

                                    <!-- Button -->
                                    <!-- <a href="#" class="theme-btn">Read More</a> -->

                                </div>

                            </div>

                            <!-- Right colom -->
                            <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6 no-padding-2">

                                <!-- image -->
                                <div class="customsection-4">
                                    <img src="/frontend/images/service-half-width2.jpg" alt="image">
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Bootstrap -->

                </div>
                <!-- End Two colom full width -->

                <!-- Two colom full width -->
                <div id="two-colom-3" class="service-full-width inner-page-grey-section">

                    <!-- Bootstrap -->
                    <div class="container">
                        <div class="row">

                            <!-- left colom -->
                            <div class="col-md-6 col-sm-12 ">

                                <div class="left-colom">
                                    <!-- H1 Heading -->
                                    <h1>Finance</h1>

                                    <!-- H2 heading -->
                                    <h2>ພັນທະມິດທີ່ແຂງແກ່ນ</h2>

                                    <!-- paragraph -->
                                    <p>ເຮົາເຮັດວຽກຢ່າງໜັກເພື່ອສ້າງພັນທະມິດລະດັບຊັ້ນນຳ ກັບຜູ້ໃຫ້ບໍ¬ລິ¬ການເທັກໂນໂລຢີທີ່ມີນວັດຕະກຳຫລາຍທີ່ສຸດໃນໂລກ ທັງລາຍໃຫຍ່ ແລະລາຍນ້ອຍ. ເພື່ອໃຫ້ເຮົາສາ¬ມາດນຳສະ¬ເໜີໂຊລູຊັນທີ່ເໝາະສົມສຳ¬ລັບອົງກອນ ແລະລູກຄ້າຂອງທ່ານ..</p>

                                    <div class="list-box">
                                        <!-- H3 heading -->
                                        <!-- <h3>What is included</h3> -->

                                        <!-- list -->
                                        <!-- <ul>
                                            <li>Lorem Ipsum is simply dummy text of the printing </li>
                                            <li>And typesetting industry Lorem Ipsum has been the industrys </li>
                                            <li>Standard dummy text ever since the </li>
                                            <li>When an unknown printer took a galley of type </li>
                                            <li>And scrambled it to make a type specimen book It has. </li>
                                        </ul> -->
                                    </div>

                                    <!-- Button -->
                                    <!-- <a href="#" class="theme-btn">Read More</a> -->

                                </div>

                            </div>

                            <!-- Right colom -->
                            <div class="col-md-6 col-sm-12 no-padding-2">

                                <!-- image -->
                                <div class="customsection-3 bottom-90px">
                                    <img src="/frontend/images/header/ict_base.jpg" alt="image">
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Bootstrap -->

                </div>
                <!-- End Two colom full width -->

                <!-- Statistic -->
                <div class="innerpage-site-statistic inner-page-dark-section" id="statistic">

                    <!-- Bootstrap -->
                    <div class="container">
                        <!-- inner box -->
                        <div class="site-section-box">

                            <div class="row">
                                <!-- Number -->
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <div class="site-number-2">
                                        <!-- Inline wrapper -->
                                        <div class="site-number-inline-2">
                                            <!-- Icon -->
                                            <figure> <img src="/frontend/images/stat-icon-white-1.png" alt="image">
                                            </figure>
                                            <!-- Heading -->
                                            <h3><span class="counter counter-default">5</span>+</h3>
                                            <!-- Paragraph -->
                                            <p>Years of experience</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <div class="site-number-2">
                                        <!-- Inline wrapper -->
                                        <div class="site-number-inline-2">
                                            <!-- Icon -->
                                            <figure> <img src="/frontend/images/stat-icon-white-2.png" alt="image">
                                            </figure>
                                            <!-- Heading -->
                                            <h3><span class="counter counter-default">103</span></h3>
                                            <!-- Paragraph -->
                                            <p>Projected</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <div class="site-number-2">
                                        <!-- Inline wrapper -->
                                        <div class="site-number-inline-2">
                                            <!-- Icon -->
                                            <figure> <img src="/frontend/images/stat-icon-white-3.png" alt="image">
                                            </figure>
                                            <!-- Heading -->
                                            <h3><span class="counter counter-default">153</span></h3>
                                            <!-- Paragraph -->
                                            <p>Users</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <div class="site-number-2">
                                        <!-- Inline wrapper -->
                                        <div class="site-number-inline-2">
                                            <!-- Icon -->
                                            <figure> <img src="/frontend/images/stat-icon-white-4.png" alt="image">
                                            </figure>
                                            <!-- Heading -->
                                            <h3><span class="counter counter-default">380</span>K</h3>
                                            <!-- Paragraph -->
                                            <p>Transactions</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Bootstrap -->

                </div>
                <!-- End Statistic -->

                <!-- Tweets -->
                <div class="site-tweets">

                    <!-- Bootstrap -->
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-10 col-sm-offset-1">

                                <!-- Icon -->
                                <i class="fa fa-twitter"></i>

                                <!-- Swiper container -->
                                <div class="swiper-container" id="tweet-slider">

                                    <!-- Swiper wrapper -->
                                    <ul class="swiper-wrapper tweet-carousel"></ul>

                                </div>

                                <!-- If we need pagination -->
                                <div id="tweet-pagination" class="swiper-pagination"></div>

                            </div>
                        </div>

                        <!-- Navigation hide by default (if you want to show the navigation remove the (hide) class) -->
                        <div id="tweet-button-next" class="swiper-button-next hide"></div>
                        <div id="tweet-button-prev" class="swiper-button-prev hide"></div>
                    </div>
                    <!-- End bootstrap -->

                </div>
                <!-- End tweets -->


                <%- include('../layouts/Footer')%>
        </div>
        <!-- End Wrapper -->

        <%- include('../layouts/Script')%>

    </body>


</html>