<!DOCTYPE html>
<html lang="en">

    <%- include('../layouts/Header')%>
<body>

<!-- Wrapper -->
<div class="site-wrapper">

    <%- include('../layouts/Navigation')%>

    <!-- This section classes require for whole page sliders -->
    <div id="sequence" style="display:none;">
        <ul class="seq-canvas">
        </ul>
    </div>

    <!-- End Slider -->

    <!-- Main banner -->
    <div class="inner-page-main-banner services">
		<!-- Bootstrap -->
		<div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- H2 heading -->
                    <h2>What we do</h2>
                    <!-- H1 Heading -->
                    <h1>ບໍລິການທັງໝົດຂອງພວກເຮົາ</h1>
                    <!-- Bredcum links -->
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                        	<ul>
                            	<li> <a href="/">Home » </a> </li>
                                <li>ບໍລິການທັງໝົດຂອງພວກເຮົາ</li>
                            </ul>
                            <p>
                                ພວກເຮົາຊົມເຊີຍສົ່ງເສີມນັກປະດິດທີ່ມີວິໄສທັດ ຜູ້ມີຈິນຕະນາການ ສົ່ງເສີມຄວາມກ້າຄິດຂອງພວກເຂົາໃຫ້ກາຍເປັນຈິງ.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
		</div>
        <!-- End bootstrap -->
    </div>
    <!-- End Main banner -->

    <!-- service box -->
    <div id="service-icon-box" class="service-page-icon-section inner-page-grey-section">

        <!-- Bootstrap -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- H3 Heading -->
                    <h3>What we offer</h3>

                    <!-- Paragraph -->
                    <div class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-1 center-text">
                    <p>ພວກເຮົາຊົມເຊີຍສົ່ງເສີມນັກປະດິດທີ່ມີວິໄສທັດ ຜູ້ມີຈິນຕະນາການ ສົ່ງເສີມຄວາມກ້າຄິດຂອງພວກເຂົາໃຫ້ກາຍເປັນຈິງ.</p>
					</div>
                    
                    <!-- icon box  -->
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="feature-box">
                            <!-- Icon -->
                            <figure> <img src="/frontend/images/service-icon1.png" alt="icon"> </figure>
                            <!-- Heading -->
                            <h3>ICT Consulting</h3>
                            <!-- Paragraph -->
                            <p>ສຳມະນາຂໍ້ມູນຂ່າວສານດ້ານ ICT, ວ່າງແຜນດ້ານການຕະຫຼາດ ອອນລາຍ, Online  Marketing  Contents</p>
                            
                            <!-- Link -->
                            <a class="more-text" href="#"> Read More »</a>
                        </div>
                    </div>
                    
                    <!-- icon box  -->
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="feature-box">
                            <!-- Icon -->
                            <figure> <img src="/frontend/images/service-icon2.png" alt="icon"> </figure>
                            <!-- Heading -->
                            <h3>ການພັດທະນາ ແລະ ນຳໃຊ້ເທັກໂນໂລຢີ</h3>
                            <!-- Paragraph -->
                            <p>ໃຫ້ການປຶກສາດ້ານການພັດທະນາ ແລະ ນຳໃຊ້ຕ່າງໆເຊັ່ນ: ລະບົບຈັດການພະນັກງານອອນລາຍຜ່ານໜ້າເວັບ, ຈັດການສາງ, ຈັດການຂົນສົ່ງ, ລະບົບຕິດຕໍ່ກັບລູກຄ້າ ໜ້າເວັບໂຄສະນາບໍລິສັດ, ລະບົບສາທາລະນະ.</p>
                            
                            <!-- Link -->
                            <a class="more-text" href="#"> Read More »</a>
                        </div>
                    </div>
                    
                    <!-- Clearfix for small view -->
                    <div class="clearfix visible-sm"></div>
                    
                    <!-- icon box  -->
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="feature-box">
                            <!-- Icon -->
                            <figure> <img src="/frontend/images/service-icon3.png" alt="icon"> </figure>
                            <!-- Heading -->
                            <h3>ສຳລັບນັກລົງທືນ ແລະ ຮຸ້ນສ່ວນ Partner</h3>
                            <!-- Paragraph -->
                            <p>Lorem Ipsum is simply dummy of the tingand typeseing industry Lorem Ipsum been industry standard ever since the when an Lorem Ipsum.</p>
                            
                            <!-- Link -->
                            <a class="more-text" href="#"> Read More »</a>
                        </div>
                    </div>
                    
                    <!-- Clearfix for medium and large view -->
                    <div class="clearfix visible-lg visible-md"></div>
                    
                    <!-- icon box  -->
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="feature-box">
                            <!-- Icon -->
                            <figure> <img src="/frontend/images/service-icon4.png" alt="icon"> </figure>
                            <!-- Heading -->
                            <h3>IT Solutions</h3>
                            <!-- Paragraph -->
                            <p>ໃຫ້ຄຳປຶກສາໃນການອອກແບບ ລະບົບ ວາງການເຮັດວຽກໃຫ້ແທດເໝາະກັບຕົວຈິງ,  .</p>
                            
                            <!-- Link -->
                            <a class="more-text" href="#"> Read More »</a>
                        </div>
                    </div>
                    
                    <!-- Clearfix for small view -->
                    <div class="clearfix visible-sm"></div>

                    
                    <!-- icon box  -->
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="feature-box">
                            <!-- Icon -->
                            <figure> <img src="/frontend/images/service-icon5.png" alt="icon"> </figure>
                            <!-- Heading -->
                            <h3>Cross Platform Development</h3>
                            <!-- Paragraph -->
                            <p>ພັດທະນາ ແລະ ສອນນຳໃຊ້ລະບົບຈັດການພະນັກງານອອນລາຍຜ່ານໜ້າເວັບ, ຈັດການສາງ, ຈັດການຂົນສົ່ງ, ລະບົບຕິດຕໍ່ກັບລູກຄ້າ ໜ້າເວັບໂຄສະນາບໍລິສັດ, ລະບົບສາທາລະນະ.</p>
                            
                            <!-- Link -->
                            <a class="more-text" href="#"> Read More »</a>
                        </div>
                    </div>
                    
                    <!-- icon box  -->
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="feature-box">
                            <!-- Icon -->
                            <figure> <img src="/frontend/images/service-icon6.png" alt="icon"> </figure>
                            <!-- Heading -->
                            <h3>Business Integration Development</h3>
                            <!-- Paragraph -->
                            <p>ລະບົບທາງໂທລະສັບສະມາດໂຟນຕ່າງໆ ໃຫ້ເຮັດວຽກໄດ້ທຸກສະຖານທີ່ ເຂົ້າເຖິງຂໍ້ມູມໄດ້ຢ່າງສະຖຽນ .</p>
                            
                            <!-- Link -->
                            <a class="more-text" href="#"> Read More »</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- End Bootstrap -->

    </div>
    <!-- End service box -->
    
    
    
    <!-- Statistic -->
    <div class="innerpage-site-statistic inner-page-dark-section" id="statistic" >

        <!-- Bootstrap -->
        <div class="container">
            <!-- inner box -->
            <div class="site-section-box">

	            <div class="row">
                    <!-- Number -->
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="site-number-2">
                            <!-- Inline wrapper -->
                            <div class="site-number-inline-2">
                                <!-- Icon -->
                                <figure> <img src="/frontend/images/stat-icon-white-1.png" alt="image"> </figure>
                                <!-- Heading -->
                                <h3><span class="counter counter-default">20</span>+</h3>
                                <!-- Paragraph -->
                                <p>Years of experience</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="site-number-2">
                            <!-- Inline wrapper -->
                            <div class="site-number-inline-2">
                                <!-- Icon -->
                                <figure> <img src="/frontend/images/stat-icon-white-2.png" alt="image"> </figure>
                                <!-- Heading -->
                                <h3><span class="counter counter-default">500</span>K</h3>
                                <!-- Paragraph -->
                                <p>project completed</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="site-number-2">
                            <!-- Inline wrapper -->
                            <div class="site-number-inline-2">
                                <!-- Icon -->
                                <figure> <img src="/frontend/images/stat-icon-white-3.png" alt="image"> </figure>
                                <!-- Heading -->
                                <h3><span class="counter counter-default">550</span></h3>
                                <!-- Paragraph -->
                                <p>Happy users</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="site-number-2">
                            <!-- Inline wrapper -->
                            <div class="site-number-inline-2">
                                <!-- Icon -->
                                <figure> <img src="/frontend/images/stat-icon-white-4.png" alt="image"> </figure>
                                <!-- Heading -->
                                <h3><span class="counter counter-default">380</span>K</h3>
                                <!-- Paragraph -->
                                <p>Cups of coffee</p>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
        <!-- End Bootstrap -->

    </div>
    <!-- End Statistic -->

    <%- include('../layouts/Footer')%>
</div>
<!-- End Wrapper -->


<%- include('../layouts/Script')%>
</body>


</html>