<!DOCTYPE html>
<html lang="en">
<%- include('../layouts/Header')%>

    <body>

        <!-- Wrapper -->
        <div class="site-wrapper">

            <%- include('../layouts/Navigation')%>

                <!-- This section classes require for whole page sliders -->
                <div id="sequence" style="display:none;">
                    <ul class="seq-canvas">
                    </ul>
                </div>

                <!-- End Slider -->

                <!-- Main banner -->
                <div class="inner-page-main-banner services">
                    <!-- Bootstrap -->
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">

                                <!-- H2 heading -->
                                <h2>What we do</h2>
                                <!-- H1 Heading -->
                                <h1>ບໍລິການດ້ານຄວາມຮູ້ໄອທີ</h1>
                                <!-- Bredcum links -->
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                                        <ul>
                                            <li> <a href="/">ໜ້າຫຼັກ » </a> </li>
                                            <li>ບໍລິການດ້ານຄວາມຮູ້ໄອທີ</li>
                                        </ul>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End bootstrap -->
                </div>
                <!-- End Main banner -->

                <!-- service box -->
                <div id="service-image-box" class="service-section inner-page-white-section">

                    <!-- Bootstrap -->
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">

                                <!-- H1 Heading -->
                                <h1>ບໍລິການຂອງພວກເຮົາ</h1>

                                <!-- H2 heading -->
                                <h2>ບາດກ້າວສູ່ຄວາມສຳເລັດ</h2>

                                <!-- Bootstrap inner columns -->
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

                                        <!-- Site box -->
                                        <div class="site-box">

                                            <!-- image -->
                                            <div class="service-image"> <img src="/frontend/images/header/software_dev.png"
                                                    alt="image"> </div>

                                            <div class="content">
                                                <!-- H3 heading -->
                                                <h3><a href="#">ICT Consulting</a></h3>

                                                <!-- Paragraph -->
                                                <p>ບໍລິການລະບົບການທາງໄກ ຂໍ້ມູນ, ຮາດແວ, ການວິເຄາະ</p>

                                                <!-- Read more -->
                                                <a class="site-permalink" href="#">
                                                    <span>MORE</span>
                                                    <i class="icon-service-arrow"></i>
                                                </a>

                                                <!-- Icon -->
                                                <figure><i class="fa fa-briefcase"></i></figure>
                                            </div>
                                        </div>
                                        <!-- End box -->

                                    </div>

                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

                                        <!-- Site box -->
                                        <div class="site-box">

                                            <!-- image -->
                                            <div class="service-image"> <img src="/frontend/images/header/fintech.jpg"
                                                    alt="image"> </div>

                                            <div class="content">
                                                <!-- H3 heading -->
                                                <h3><a href="#">FinTech Development</a></h3>

                                                <!-- Paragraph -->
                                                <p>ລະບົບຈັດການພະນັກງານອອນລາຍຜ່ານໜ້າເວັບ, ຈັດການສາງ, ຈັດການຂົນສົ່ງ,
                                                    ລະບົບຕິດຕໍ່ກັບລູກຄ້າ ໜ້າເວັບໂຄສະນາບໍລິສັດ, ລະບົບສາທາລະນະ.
                                                </p>

                                                <!-- Read more -->
                                                <a class="site-permalink" href="#">
                                                    <span>MORE</span>
                                                    <i class="icon-service-arrow"></i>
                                                </a>

                                                <!-- Icon -->
                                                <figure><i class="fa fa-briefcase"></i></figure>
                                            </div>
                                        </div>
                                        <!-- End box -->

                                    </div>

                                    <!-- Clearfix for small view -->
                                    <div class="clearfix visible-sm"></div>

                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

                                        <!-- Site box -->
                                        <div class="site-box">

                                            <!-- image -->
                                            <div class="service-image"> <img src="/frontend/images/header/business.png"
                                                    alt="image"> </div>

                                            <div class="content">
                                                <!-- H3 heading -->
                                                <h3><a href="#">Cross Platform Development</a></h3>

                                                <!-- Paragraph -->
                                                <p>ລະບົບທາງໂທລະສັບສະມາດໂຟນຕ່າງໆ
                                                    ໃຫ້ເຮັດວຽກໄດ້ທຸກສະຖານທີ່
                                                    ເຂົ້າເຖິງຂໍ້ມູມໄດ້ຢ່າງສະຖຽນ
                                                </p>

                                                <!-- Read more -->
                                                <a class="site-permalink" href="#">
                                                    <span>MORE</span>
                                                    <i class="icon-service-arrow"></i>
                                                </a>

                                                <!-- Icon -->
                                                <figure><i class="fa fa-briefcase"></i></figure>
                                            </div>
                                        </div>
                                        <!-- End box -->

                                    </div>

                                    <!-- Clearfix for medium and large view -->
                                    <div class="clearfix visible-lg visible-md"></div>

                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

                                        <!-- Site box -->
                                        <div class="site-box">

                                            <!-- image -->
                                            <div class="service-image"> <img src="/frontend/images/header/mobile.jpg"
                                                    alt="image"> </div>

                                            <div class="content">
                                                <!-- H3 heading -->
                                                <h3><a href="#">Mobile Application</a></h3>

                                                <!-- Paragraph -->
                                                <p>ໃຫ້ຄຳປຶກສາໃນການອອກແບບ
                                                    ລະບົບ ວາງການເຮັດວຽກໃຫ້ແທດເໝາະກັບຕົວຈິງ.
                                                </p>

                                                <!-- Read more -->
                                                <a class="site-permalink" href="#">
                                                    <span>MORE</span>
                                                    <i class="icon-service-arrow"></i>
                                                </a>

                                                <!-- Icon -->
                                                <figure><i class="fa fa-briefcase"></i></figure>
                                            </div>
                                        </div>
                                        <!-- End box -->

                                    </div>

                                    <!-- Clearfix for small view -->
                                    <div class="clearfix visible-sm"></div>

                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

                                        <!-- Site box -->
                                        <div class="site-box">

                                            <!-- image -->
                                            <div class="service-image"> <img src="/frontend/images/header/digital_m.png"
                                                    alt="image"> </div>

                                            <div class="content">
                                                <!-- H3 heading -->
                                                <h3><a href="#">Digital Market</a></h3>

                                                <!-- Paragraph -->
                                                <p>ສ້າງສັນໄອເດຍສີ່ງໃໝ່ໆດ້ານການຕະຫລາດອອນລາຍ, ສ້າງ contents
                                                    ໃນການຕະຫລາດທີ່ຜູ້ຄົນເຂົ້າເຖີ່ງໄດ້ງ່າຍຂື້ນ.</p>

                                                <!-- Read more -->
                                                <a class="site-permalink" href="#">
                                                    <span>MORE</span>
                                                    <i class="icon-service-arrow"></i>
                                                </a>

                                                <!-- Icon -->
                                                <figure><i class="fa fa-briefcase"></i></figure>
                                            </div>
                                        </div>
                                        <!-- End box -->

                                    </div>


                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

                                        <!-- Site box -->
                                        <div class="site-box">

                                            <!-- image -->
                                            <div class="service-image"> <img src="/frontend/images/service6.jpg"
                                                    alt="image"> </div>

                                            <div class="content">
                                                <!-- H3 heading -->
                                                <h3><a href="#">Data Analyst</a></h3>

                                                <!-- Paragraph -->
                                                <p>ວິເຄາະຂໍ້ມູນຕ່າງໆເປັນ Set Data, ເພື່ອການຕະຫລາດ, ວິໄຈ, ຄົ້ນຄວາ
                                                    ຕາມປະເພດຂໍ້ມູນທີສາມາດນຳໄປໃຊ້ໃນທຸລະກິດຂອງທ່ານໄດ້ຢ່າງມີປະສິດທິພາບ.</p>

                                                <!-- Read more -->
                                                <a class="site-permalink" href="#">
                                                    <span>MORE</span>
                                                    <i class="icon-service-arrow"></i>
                                                </a>

                                                <!-- Icon -->
                                                <figure><i class="fa fa-briefcase"></i></figure>
                                            </div>
                                        </div>
                                        <!-- End box -->

                                    </div>

                                </div>
                                <!-- End inner columns -->

                            </div>
                        </div>
                    </div>
                    <!-- End Bootstrap -->

                </div>
                <!-- End service box -->

                <!-- Tabs -->
                <div id="why-us" class="site-tabs site-white-section">

                    <!-- Bootstrap -->
                    <div class="container">
                        <div class="row">
                            <!-- H1 Heading -->
                            <h1>ເປັນຫຍັງຕ້ອງເລືອກພວກເຮົາໃຫ້ຄຳປຶກສາທ່ານ ?</h1>

                            <!-- H2 heading -->
                            <h2>ເພື່ອຕອບໂຈດທຸລະກິດຂອງທ່ານ</h2>

                            <div class="col-xs-12">
                                <!-- Tabs wrapper -->
                                <div class="site-tabs-wrapper" id="site-tabs-1">

                                    <!-- Buttons -->
                                    <ul class="site-tabs-buttons">
                                        <li><a data-tab-bg="tab-bg-1" href="#tab-1">ໃຫ້ຄຳປຶກສາກ່ຽວກັບລະບົບ</a></li>
                                        <li><a data-tab-bg="tab-bg-2" href="#tab-2">ໃຫ້ຄວາມຮູ້ດ້ານຄວາມຮູ້ໄອທີ </a></li>
                                        <li><a data-tab-bg="tab-bg-3" href="#tab-3">ບໍລິການທັງໝົດອຶ່ນໆ</a></li>
                                    </ul>

                                    <!-- Tabs content -->
                                    <!-- Tab 1 -->
                                    <div class="site-tabs-content" id="tab-1">
                                        <div class="col-xs-12 col-md-6">
                                            <!-- Paragraph -->
                                            <h3>ວາງແພນອານາຄົດໃຫ້ກັບຈັດການລົບຂໍ້ມູນ. </h3>
                                            <p>ສ້າງສັນໄອເດຍສີ່ງໃໝ່ໆດ້ານການຕະຫລາດອອນລາຍ, ສ້າງ contents
                                                ໃນການຕະຫລາດທີ່ຜູ້ຄົນເຂົ້າເຖີ່ງໄດ້ງ່າຍຂື້ນ. </p>
                                            <!-- order List -->
                                            <ul>
                                                <li>ວ່າງແພນການຈັດການຊໍ້ມູນ. </li>
                                                <li>ອອກແບບຕາມການໃຊ້ງານຈິງ, ຕາມໜ້າທີຕ້ອງການ.</li>
                                                <li>ສ້າງຜະລິດຕະພັນທີເປັນມີດກັບສິ່ງແວດລ້ອມ.</li>
                                                <li>ໃຫ້ບໍລິການແບບເປັນກັບເອງ. ຕາມສະໄຕໃນຍຸກ 4.0 </li>
                                                <li>ຮຽນຮູ້ ແລະ ພັດທະນາຕະຫລອດເວລາ. </li>
                                            </ul>
                                        </div>

                                        <div class="col-xs-12 col-md-6">
                                            <div class="site-tab-bg tab-bg-1 active"
                                                style="background-image: url(/frontend/images/tabs-bg-1.png)"></div>
                                        </div>

                                    </div>

                                    <!-- Tab 2 -->
                                    <div class="site-tabs-content" id="tab-2">
                                        <div class="col-xs-12 col-md-6">
                                            <!-- Paragraph -->
                                            <h3>ແກ້ບັນຫາລະບົບໄອທິ, ສ້າງຄວາມເຊື່ອໝັ່ນໃຫ້ກັບອົງກອນໃນຍຸກແຫ່ງເທັກໂນໂລຊີ.
                                            </h3>
                                            <p> ບໍລິການລະບົບການທາງໄກ ຂໍ້ມູນ, ຮາດແວ, ການວິເຄາະ.
                                                ສ້າງສັນໄອເດຍສີ່ງໃໝ່ໆດ້ານການຕະຫລາດອອນລາຍ, ສ້າງ contents
                                                ໃນການຕະຫລາດທີ່ຜູ້ຄົນເຂົ້າເຖີ່ງໄດ້ງ່າຍຂື້ນ.</p>
                                            <!-- order List -->
                                            <ul>
                                                <li>ແກ້ບັນຫາລະບົບໄອທິດ້ານ Hardware.</li>
                                                <li>ແກ້ບັນຫາລະບົບໄອທິດ້ານ ລະບົບການບໍລິຫານທາງໄກ</li>
                                                <li>ແກ້ບັນຫາລະບົບໄອທິດ້ານ ລະບົບບໍລິການ Logistic</li>
                                                <li>ແກ້ບັນຫາລະບົບໄອທິດ້ານ ລະບົບບໍລິການ e-Commerce</li>
                                                <li>ແກ້ບັນຫາລະບົບໄອທິດ້ານ ລະບົບການສຶກສາ ແລະ ສຸຂະພາບ </li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="site-tab-bg tab-bg-2"
                                                style="background-image: url(/frontend/images/tabs-bg-2.png)"></div>
                                        </div>
                                    </div>

                                    <!-- Tab 3 -->
                                    <div class="site-tabs-content" id="tab-3">
                                        <div class="col-xs-12 col-md-6">
                                            <!-- Paragraph -->
                                            <h3>ບໍລິການອື່ນໆ. </h3>
                                            <p> ລະບົບທາງໂທລະສັບສະມາດໂຟນຕ່າງໆ ໃຫ້ເຮັດວຽກໄດ້ທຸກສະຖານທີ່
                                                ເຂົ້າເຖິງຂໍ້ມູມໄດ້ຢ່າງສະຖຽນ . </p>
                                            <!-- order List -->
                                            <ul>
                                                <li>ແກ້ບັນຫາລະບົບໄອທິດ້ານ Hardware.</li>
                                                <li>ແກ້ບັນຫາລະບົບໄອທິດ້ານ ລະບົບການບໍລິຫານທາງໄກ</li>
                                                <li>ສ້າງຜະລິດຕະພັນທີເປັນມີດກັບສິ່ງແວດລ້ອມ.</li>
                                                <li>ໃຫ້ບໍລິການແບບເປັນກັບເອງ. ຕາມສະໄຕໃນຍຸກ 4.0 </li>
                                                <li>ຮຽນຮູ້ ແລະ ພັດທະນາຕະຫລອດເວລາ. </li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="site-tab-bg tab-bg-3"
                                                style="background-image: url(/frontend/images/tabs-bg-3.png)"></div>
                                        </div>
                                    </div>

                                </div>
                                <!-- End Tabs -->

                            </div>

                        </div>
                    </div>
                    <!-- End Bootstrap -->

                </div>
                <!-- End Tabs -->

                <!-- Statistic -->
                <div class="innerpage-site-statistic inner-page-dark-section" id="statistic">

                    <!-- Bootstrap -->
                    <div class="container">
                        <!-- inner box -->
                        <div class="site-section-box">

                            <div class="row">
                                <!-- Number -->
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <div class="site-number-2">
                                        <!-- Inline wrapper -->
                                        <div class="site-number-inline-2">
                                            <!-- Icon -->
                                            <figure> <img src="/frontend/images/stat-icon-white-1.png" alt="image">
                                            </figure>
                                            <!-- Heading -->
                                            <h3><span class="counter counter-default">20</span>+</h3>
                                            <!-- Paragraph -->
                                            <p>Years of experience</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <div class="site-number-2">
                                        <!-- Inline wrapper -->
                                        <div class="site-number-inline-2">
                                            <!-- Icon -->
                                            <figure> <img src="/frontend/images/stat-icon-white-2.png" alt="image">
                                            </figure>
                                            <!-- Heading -->
                                            <h3><span class="counter counter-default">500</span>K</h3>
                                            <!-- Paragraph -->
                                            <p>project completed</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <div class="site-number-2">
                                        <!-- Inline wrapper -->
                                        <div class="site-number-inline-2">
                                            <!-- Icon -->
                                            <figure> <img src="/images/stat-icon-white-3.png" alt="image"> </figure>
                                            <!-- Heading -->
                                            <h3><span class="counter counter-default">550</span></h3>
                                            <!-- Paragraph -->
                                            <p>Happy users</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <div class="site-number-2">
                                        <!-- Inline wrapper -->
                                        <div class="site-number-inline-2">
                                            <!-- Icon -->
                                            <figure> <img src="/frontend/images/stat-icon-white-4.png" alt="image">
                                            </figure>
                                            <!-- Heading -->
                                            <h3><span class="counter counter-default">380</span>K</h3>
                                            <!-- Paragraph -->
                                            <p>Cups of coffee</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Bootstrap -->

                </div>
                <!-- End Statistic -->

                <!-- Testimonial -->
                <div id="testimonial" class="site-testimonial site-white-section">

                    <!-- Bootstrap -->
                    <div class="container-fluid wide">
                        <div class="row">
                            <div class="col-xs-12">

                                <!-- H1 heading -->
                                <h1>ລູກຄ້າຂອງພວກເຮົາ</h1>

                                <!-- H2 heading -->
                                <h2>ລູກຄ້າຂອງພວກເຮົາມີຫຼາກຫຼາຍຮູບແບບ</h2>

                                <div class="col-xs-12 col-md-8 col-md-push-2">
                                    <!-- Slider main container -->
                                    <div class="swiper-container" id="testimonial-slider">
                                        <!-- Additional required wrapper -->
                                        <div class="swiper-wrapper">

                                            <!-- Slides -->
                                            <div class="swiper-slide">
                                                <!-- Image -->
                                                <figure>
                                                    <a href="https://www.so-veggie.info/" target="_blank">
                                                        <img src="/frontend/images/clients/so-veggie.jpeg" alt="User">
                                                    </a>
                                                </figure>
                                                <!-- H4 heading -->
                                                <h4>ລະບົບບໍລິຫານຈັດການຮ້ານຂາຍຜັກ Organic</h4>
                                                <!-- Paragraph -->
                                                <p>ລະບົບການບໍລິຫານຜັກປອດສານຜິດ OA ແລະ ຜັກສະອາດ GAP</p>
                                                <!-- Title -->
                                                <h5>S.A.S company ltc,</h5>
                                                <!-- description -->
                                                <h6>ECO, And Agriculture</h6>
                                            </div>
                                            <div class="swiper-slide">
                                                <!-- Image -->
                                                <figure>
                                                    <a href="https://viravong.org/" target="_blank">
                                                        <img src="/frontend/images/clients/viravong.png" alt="User">
                                                    </a>
                                                </figure>
                                                <!-- H4 heading -->
                                                <h4>Viranvong Personal webbase</h4>
                                                <!-- Paragraph -->
                                                <p>ເວບໄຊສະແດງຊິວະປະວັດ ແລະ ຜົນງານການການປະດິດຄິດແຕ່ງຂອງອາຈານ ມະຫາສິລາ
                                                    ວິຣາວົງ.</p>
                                                <!-- Title -->
                                                <h5> Association for Promotion and Preservation of Art and Literature -
                                                    PPAL</h5>
                                                <!-- description -->
                                                <h6>PPALLAO</h6>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-12">
                                <!-- If we need pagination -->
                                <div id="testimonial-pagination" class="swiper-pagination"></div>
                            </div>



                        </div>
                    </div>
                    <!-- End bootstrap -->

                </div>
                <!-- End testimonial -->

                <!-- Clients -->
                <div class="site-clients">

                    <!-- Bootstrap -->
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">

                                <!-- Images -->
                                <figure><a href="https://www.so-veggie.info/" target="_blank"><img
                                            src="/frontend/images/clients/so-veggie.jpeg" width="70px" height="65px"
                                            alt="client"></a></figure>
                                <figure><a href="https://viravong.org/" target="_blank"><img
                                            src="/frontend/images/clients/viravong.png" width="70px" height="65px"
                                            alt="client"></a></figure>
                                <!-- Active -->
                                <figure class="active"><a href="#"><img src="/frontend/images/clients/yeal.jpeg"
                                            width="115px" height="65px" alt="client"></a></figure>
                                <figure><a href="#"><img src="/frontend/images/clients/youth.jpeg" width="70px"
                                            height="65px" alt="client"></a></figure>
                                <figure><a href="#"><img src="/frontend/images/clients/viravong.png" width="70px"
                                            height="65px" alt="client"></a></figure>

                            </div>
                        </div>
                    </div>
                    <!-- End bootstrap -->

                </div>
                <!-- End clients -->


                <!-- Dont remove this section, it's classes is nececery for swiper slider used in other sections-->
                <div id="team" class="site-team site-white-section" style="display:none;">

                    <!-- Bootstrap -->
                    <div class="container">
                        <div class="row">

                            <div class="col-xs-12 col-md-10 col-md-push-2">

                                <!-- Swiper slider -->
                                <div class="swiper-container team-section-slider" id="team-section-slider">

                                    <!-- Content -->
                                    <div class="swiper-wrapper">
                                    </div>

                                </div>
                                <!-- End slider -->

                            </div>
                            <div class="col-xs-12 col-md-2 col-md-pull-10">

                                <!-- Thumbnail -->
                                <div class="swiper-container thumbnail" id="team-thumbnails">
                                    <ul class="swiper-wrapper">

                                    </ul>
                                </div>
                                <!-- End thumbnail -->

                            </div>
                        </div>
                    </div>
                    <!-- End Bootstrap -->

                </div>
                <!-- End team -->


                <%- include('../layouts/Footer')%>

        </div>
        <!-- End Wrapper -->

        <%- include('../layouts/Script')%>
    </body>


</html>