<!DOCTYPE html>
<html lang="en">
    <%- include('../layouts/Header')%>

<body>

<!-- Wrapper -->
<div class="site-wrapper">

    <%- include('../layouts/Navigation')%>

    <!-- This section classes require for whole page sliders -->
    <div id="sequence" style="display:none;">
        <ul class="seq-canvas">
        </ul>
    </div>

    <!-- End Slider -->

    <!-- Main banner -->
    <div class="inner-page-main-banner work">
		<!-- Bootstrap -->
		<div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- H2 heading -->
                    <h2>ລາຍການຟຶກອົບຕ່າງໆ </h2>
                    <!-- H1 Heading -->
                    <h1>ລາຍການຟຶກອົບຕ່າງໆ</h1>
                    <!-- Bredcum links -->
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                        	<ul>
                            	<li> <a href="/">Home » </a> </li>
                                <li>ລາຍການຟຶກອົບຕ່າງໆ</li>
                            </ul>
                            <p>
                               Lorem Ipsum is simply dummy text of the printing and typesetting indus orem Ipsum has been the industry's standard dummy.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
		</div>
        <!-- End bootstrap -->
    </div>
    <!-- End Main banner -->

	<!-- Portfolio -->
    <div id="portfolio" class="cases-list site-grey-section">

        <!-- Bootstrap -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

					<!-- H3 heading -->
                    <h3>Some of our best cases</h3>

                    <!-- Paragraph -->
                    <div class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-1 center-text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industrys standard dummy text ever since the when an unknown printer took a galley of type and scra</p>
					</div>

					<div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <!-- Site box -->
                            <div class="site-box">
                            
                                <!-- image -->
                                <div class="service-image"> <img src="/frontend/images/service1.jpg" alt="image"> </div>

                                <div class="content">
                                    <!-- H4 heading -->
                                    <h4><a href="#">Consultancy</a></h4>
    
                                    <!-- Paragraph -->
                                    <p>Lorem Ipsum is simply dummy of theti
                                        ngand typeseing industry Lorem Ipsum
                                        been industry Lorem Ipsum.</p>
    
                                    <!-- Read more -->
                                    <a class="site-permalink" href="#">
                                        <span>more</span>
                                        <i class="icon-service-arrow"></i>
                                    </a>
    
                                    <!-- Icon -->
                                    <figure><i class="fa fa-briefcase"></i></figure>
                                </div>
                            </div>
                            <!-- End box -->
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
							<!-- Site box -->
                            <div class="site-box">
                                
                                    <!-- image -->
                                    <div class="service-image"> <img src="/frontend/images/service2.jpg" alt="image"> </div>
    
                                    <div class="content">
                                        <!-- H4 heading -->
                                        <h4><a href="#">Financial planning</a></h4>
        
                                        <!-- Paragraph -->
                                        <p>Lorem Ipsum is simply dummy of theti
                                            ngand typeseing industry Lorem Ipsum
                                            been industry Lorem Ipsum.</p>
        
                                        <!-- Read more -->
                                        <a class="site-permalink" href="#">
                                            <span>MORE</span>
                                            <i class="icon-service-arrow"></i>
                                        </a>
        
                                        <!-- Icon -->
                                        <figure><i class="fa fa-briefcase"></i></figure>
                                    </div>
                                </div>
                            <!-- End box -->
						</div>
    
                        <!-- Clearfix for small view -->
                        <div class="clearfix visible-sm"></div>
    
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <!-- Site box -->
                            <div class="site-box">
                            
                                <!-- image -->
                                <div class="service-image"> <img src="/frontend/images/service3.jpg" alt="image"> </div>

                                <div class="content">
                                    <!-- H4 heading -->
                                    <h4><a href="#">Business research</a></h4>
    
                                    <!-- Paragraph -->
                                    <p>Lorem Ipsum is simply dummy of theti
                                        ngand typeseing industry Lorem Ipsum
                                        been industry Lorem Ipsum.</p>
    
                                    <!-- Read more -->
                                    <a class="site-permalink" href="#">
                                        <span>MORE</span>
                                        <i class="icon-service-arrow"></i>
                                    </a>
    
                                    <!-- Icon -->
                                    <figure><i class="fa fa-briefcase"></i></figure>
                                </div>
                            </div>
                            <!-- End box -->
						</div>
                            
                        <!-- Clearfix for medium and large view -->
                        <div class="clearfix visible-lg visible-md"></div>
    
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <!-- Site box -->
                            <div class="site-box">
                            
                                <!-- image -->
                                <div class="service-image"> <img src="/frontend/images/service4.jpg" alt="image"> </div>

                                <div class="content">
                                    <!-- H4 heading -->
                                    <h4><a href="#">Consultancy</a></h4>
    
                                    <!-- Paragraph -->
                                    <p>Lorem Ipsum is simply dummy of theti
                                        ngand typeseing industry Lorem Ipsum
                                        been industry Lorem Ipsum.</p>
    
                                    <!-- Read more -->
                                    <a class="site-permalink" href="#">
                                        <span>MORE</span>
                                        <i class="icon-service-arrow"></i>
                                    </a>
    
                                    <!-- Icon -->
                                    <figure><i class="fa fa-briefcase"></i></figure>
                                </div>
                            </div>
                            <!-- End box -->
						</div>
    
                        <!-- Clearfix for small view -->
                        <div class="clearfix visible-sm"></div>
    
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <!-- Site box -->
                            <div class="site-box">
                            
                                <!-- image -->
                                <div class="service-image"> <img src="/frontend/images/service5.jpg" alt="image"> </div>

                                <div class="content">
                                    <!-- H4 heading -->
                                    <h4><a href="#">Consultancy</a></h4>
    
                                    <!-- Paragraph -->
                                    <p>Lorem Ipsum is simply dummy of theti
                                        ngand typeseing industry Lorem Ipsum
                                        been industry Lorem Ipsum.</p>
    
                                    <!-- Read more -->
                                    <a class="site-permalink" href="#">
                                        <span>MORE</span>
                                        <i class="icon-service-arrow"></i>
                                    </a>
    
                                    <!-- Icon -->
                                    <figure><i class="fa fa-briefcase"></i></figure>
                                </div>
                            </div>
                            <!-- End box -->
						</div>
                            
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <!-- Site box -->
                            <div class="site-box">
                            
                                <!-- image -->
                                <div class="service-image"> <img src="/frontend/images/service6.jpg" alt="image"> </div>

                                <div class="content">
                                    <!-- H4 heading -->
                                    <h4><a href="#">Consultancy</a></h4>
    
                                    <!-- Paragraph -->
                                    <p>Lorem Ipsum is simply dummy of theti
                                        ngand typeseing industry Lorem Ipsum
                                        been industry Lorem Ipsum.</p>
    
                                    <!-- Read more -->
                                    <a class="site-permalink" href="#">
                                        <span>MORE</span>
                                        <i class="icon-service-arrow"></i>
                                    </a>
    
                                    <!-- Icon -->
                                    <figure><i class="fa fa-briefcase"></i></figure>
                                </div>
                            </div>
                            <!-- End box -->
						</div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Bootstrap -->

    </div>
    <!-- End Portfolio -->

    <!-- Tweets -->
    <div class="site-tweets">

        <!-- Bootstrap -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">

                    <!-- Icon -->
                    <i class="fa fa-twitter"></i>

                    <!-- Swiper container -->
                    <div class="swiper-container" id="tweet-slider">

                        <!-- Swiper wrapper -->
                        <ul class="swiper-wrapper tweet-carousel"></ul>

                    </div>

                    <!-- If we need pagination -->
                    <div id="tweet-pagination" class="swiper-pagination"></div>

                </div>
            </div>

            <!-- Navigation hide by default (if you want to show the navigation remove the (hide) class) -->
            <div id="tweet-button-next" class="swiper-button-next hide"></div>
            <div id="tweet-button-prev" class="swiper-button-prev hide"></div>
        </div>
        <!-- End bootstrap -->

    </div>
    <!-- End tweets -->

    <!-- Site Contact -->
    <div id="contact" class="site-contact site-white-section">

        <!-- Bootstrap -->
		<!-- Map and location container -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-padding">
                	<div class="left">
                    	<!-- Contact information -->
						<div class="site-contact-info">
							
                            <!-- H1 heading -->
                            <h1>Have new project ?</h1>

        		            <!-- H2 heading -->
		                    <h2>Contact us</h2>
                        		<!-- Box -->
                                <div class="site-box">
                                    <!-- Icon -->
                                    <figure><i class="fa fa-map-marker"></i></figure>
                                    <!-- Location -->
                                    <h4> Visit our office @ </h4>
                                    <a target="_blank" href="#">
                                       125 Business, Evenue, Huston, USA
                                    </a>
                                </div>
                                <!-- End box -->
                                
	                        	<!-- Box -->
                                <div class="site-box">
                                    <!-- Icon -->
                                    <figure><i class="fa fa-phone"></i></figure>
                                    <!-- Number -->
                                    <h4> Call us on </h4>
                                    <a href="tel:19876543213">+1 987 654 3213</a>
                                </div>
                                <!-- End box -->
                                
                                <!-- Box -->
                                <div class="site-box odd">
                                    <!-- Icon -->
                                    <figure><i class="fa fa-envelope"></i></figure>
                                    <!-- Mail -->
                                    <h4> Message us on </h4>
                                    <a href="mailto:support@gmail.com">support@gmail.com</a>
                                </div>
                                <!-- End box -->
                                
						</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-padding">
                	<div class="right">
                    	<!-- Google map show using API -->
	                    <div class="site-google-map" id="site-map"></div>
                    </div>
                </div>
			</div>
		</div>
        

        <!-- End map and location container -->
        
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    

                </div>
            </div>
        </div>
        <!-- End bootstrap -->

    </div>
    <!-- End quick support -->

    <%- include('../layouts/Footer')%>

</div>
<!-- End Wrapper -->
<%- include('../layouts/Script')%>
</body>


</html>