                    <!-- Call to action -->
                    <div class="site-call-to-action">

                        <!-- Bootstrap -->
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
    
                                    <!-- Box -->
                                    <div class="site-box">
    
                                        <!-- H1 heading -->
                                        <h1>ບໍລິສັດເທັກໂນໂລຢີ ຄືບ້ານຂອງທ່ານ!</h1>
    
                                        <!-- Bootstrap inner columns -->
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-offset-2">
    
                                                <!-- Paragraph -->
                                                <p>ພວກເຮົາຊົມເຊີຍສົ່ງເສີມນັກປະດິດທີ່ມີວິໄສທັດ ຜູ້ມີຈິນຕະນາການ
                                                    ສົ່ງເສີມຄວາມກ້າຄິດຂອງພວກເຂົາໃຫ້ກາຍເປັນຈິງ.</p>
    
                                            </div>
                                        </div>
    
                                        <!-- H1 heading -->
                                        <h1>ຕິດຕໍ່ເພື່ອຝຶກງານ ກັບ BONI TECH</h1>
    
                                        <!-- Bootstrap inner columns -->
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-offset-2">
    
                                                <!-- Paragraph -->
                                                <p>ຝືກງານ ICT, ພາສາອັງກິດ, ພາສາລາວ, ປະຫວັດສາດ, ທ່ອງທ່ຽວ ...</p>
    
                                            </div>
                                            <div class="col-xs-12">
    
                                                <!-- Button -->
                                                <a href="tel:+8562029444949" class="theme-btn">
                                                    <!-- Icon -->
                                                    <figure><i class="fa fa-phone"></i></figure>
                                                    (+856)20-29-444-949
                                                </a>
    
                                                <!-- Button -->
                                                <a href="mailto:paowenfeng@gmail.com" class="theme-btn">
                                                    <!-- Icon -->
                                                    <figure><i class="fa fa-envelope"></i></figure>
                                                    Email us Now
                                                </a>
    
                                            </div>
                                        </div>
    
                                    </div>
                                    <!-- End box -->
    
                                </div>
                            </div>
                        </div>
                        <!-- End Bootstrap -->
    
                    </div>
                    <!-- End call to action -->
        
    
    <!-- Footer -->
    <footer class="site-footer">

        <!-- Bootstrap -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">

                    <!-- Widget -->
                    <div class="widget">

                        <!-- Logo -->
                        <div class="site-logo">
                            <!-- Link -->
                            <a href="/">
                                <!-- Logo Image -->
                                <img src="/frontend/images/logo_1.png" width="120px" height="120px" alt="Logo">
                                
                            </a>
                        </div>
                        <!-- End logo -->

                        <!-- Clearfix -->
                        <div class="clearfix"></div>

                        <!-- Paragraph -->
                        <p>
                            ບໍລສັດ ໂບນີ ເທັກ ຈຳກັດ (ສຳນັກງານໃຫຍ່)
                            Boni Tech Co., Ltd
                            ຖະໜົນ ໜອງວຽງຕຳ ບ້ານ ນາທົ່ມ ເມືອງ ໄຊທານີ ນະຄອນຫຼວງວຽງຈັນ
                            Paowenfeng@gmail.com
                            (+856) 20 29 444 949. <br>
                            Boni Tech is the leading Enterprise IT Solutions and Services Provider in LAOS. We provide services under world class standard quality ISO 20000 (IT Service Management) and ISO 27001(Information Security Management).
                        </p>
                    </div>
                    <!-- End widget -->

                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">

                    <!-- Widget -->
                    <div class="widget">

                        <!-- H3 heading -->
                        <h3>ກ່ຽວກັບບໍລິສັດ</h3>

                        <!-- Links -->
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Developer</a></li>
                            <li><a href="#">Partner</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>

                    </div>
                    <!-- End widget -->

                </div>
                <div class="col-xs-12 col-sm-6 col-md-3" style="display:none;">

                    <!-- Widget -->
                    <div class="widget">

                        <!-- H3 heading -->
                        <h3>Recent news</h3>

                        <!-- news -->
                        <ul class="widget-news">
                            <li>
                                <a href="#">
                                    <figure><img src="/frontend/images/news-1.png" alt="image"></figure>
                                    <p>Latest Business Event</p>
                                    <span>20th Jul, 2016</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <figure><img src="/frontend/images/news-2.png" alt="image"></figure>
                                    <p>New Office opening</p>
                                    <span>20th Jul, 2016</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <figure><img src="/frontend/images/news-3.png" alt="image"></figure>
                                    <p>Get to gethore</p>
                                    <span>20th Jul, 2016</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <!-- End widget -->

                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-2">

                    <!-- Widget -->
                    <div class="widget">

                        <!-- H3 heading -->
                        <h3>Services </h3>

                        <!-- Links -->
                        <ul>
                            <li><a href="#">Consultancy</a></li>
                            <li><a href="#">Finance</a></li>
                            <li><a href="#">Advertising</a></li>
                            <li><a href="#">Business Planing</a></li>
                            <li><a href="#">Marketing</a></li>
                            <li><a href="#">Creative ideas</a></li>
                            <li><a href="#">Apply Jobs</a></li>
                        </ul>

                    </div>
                    <!-- End widget -->

                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-4">

                    <!-- Widget -->
                    <div class="widget">

                        <!-- H3 heading -->
                        <h3>Subscribe</h3>
                        
                        <!-- Paragraph -->
                        <p>ຟາກອີເມວໄວເພື່ອຮັບຮູ້ຂໍ້ມູນອັບເດດຈາກພວກເຮົາ.</p>
                        
                        <!-- Subscribe -->
                        <form method="post" action="#" class="site-subscribe">
                            <input type="email" placeholder="Enter your email" required="required" name="form_subscribe">
                            <button type="submit"><i class="fa fa-paper-plane"></i></button>
                        </form>

                    </div>
                    <!-- End widget -->

                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12">
                    <hr>
                </div>
                <div class="col-xs-12 col-sm-6">

                    <!-- Copyright -->
                    <div class="site-copyright">
                        <p>
                            <a href="/terms">Terms</a>
                            <a href="/service">Service</a>
                            <a href="/about">About Us</a>
                        </p>
                        <p>
                            &copy;
                            <script>
                            document.write(new Date().getFullYear());
                            </script>
                            ຂໍສະຫງວນລິຂະສິດ | BoniTech
                            <i class="fa fa-heart" aria-hidden="true"></i> by
                            <a href="https://www.bonitech.dev" target="_blank">BoniTech.Dev</a>
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">

                    <!-- Social Icons -->
                    <div class="site-social-icons">
                        <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-youtube"></i></a>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Bootstrap -->

    </footer>
    <!-- End Footer -->