<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="One Page Corporate HTML Template">
    <meta name="author" content="">
    <link rel="icon" href="/frontend/images/boni.png">

    <!-- font-family: 'Noto Sans Lao', 'Roboto',  sans-serif; -->

    <!-- Title -->
    <title>Boni Tech</title>

    <!-- Necessary CSS Files -->
    <link href="/frontend/css/bootstrap.min.css" rel="stylesheet">            									<!-- Bootstrap CSS Only GRID -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@200;300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/frontend/css/google-font.css">              									<!-- Google Font -->
    <link rel="stylesheet" href="/frontend/css/font-awesome.min.css">         									<!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/frontend/css/swiper.min.css">               									<!-- Swiper slider -->
    <link rel="stylesheet" href="/frontend/css/jquery.mb.YTPlayer.min.css">   									<!-- Video background -->
    <link rel="stylesheet" href="/frontend/css/template.css">                 									<!-- Template CSS -->

</head>