    <!-- Top Bar -->
    <div class="site-top-bar">

        <!-- Bootstrap -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- Left section -->
                    <div class="site-top-bar-left-section">

                        <!-- Link -->
                        <a>
                            <!-- Font awesome icon -->
                            <i class="fa fa-clock-o"></i>
                            <!-- Text -->
                            <span>M to F : 08:30 - 17:30</span>
                        </a>

                    </div>
                    <!-- End Left Section -->


                    <!-- Right Section -->
                    <div class="site-top-bar-right-section">

                        <!-- Link -->
                        <a href="tel:+8562028222732">
                            <!-- Icon -->
                            <i class="fa fa-phone"></i>
                            <!-- Text -->
                            <span>(+856)20-28-222-732</span>
                        </a>

                        <!-- Link -->
                        <a href="mailto:rixnickl2@gmail.com">
                            <!-- Icon -->
                            <i class="fa fa-envelope"></i>
                            <!-- Text -->
                            <span>rixnickl2@gmail.com</span>
                        </a>

                    </div>
                    <!-- End Right Section -->

                </div>
            </div>
        </div>
        <!-- End Bootstrap -->

    </div>
    <!-- End Top Bar -->

    <!-- Header -->
    <header class="site-header" id="sticky-header">

        <!-- Bootstrap -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- Logo -->
                    <div class="site-logo">
                        <!-- Link -->
                        <a href="/">
                            <!-- Logo Image -->
                            <img src="/frontend/images/logo3.png" alt="Logo">
                        </a>
                    </div>
                    <!-- End logo -->

                    <!-- Navigation Toggle Button -->
                    <div class="site-nav-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <!-- End Nav Toggle Button -->

                    <!-- Navigation -->
                    <nav class="site-nav">
                        <ul>
                            <!-- Active Item (Use the active class)  -- class="active" -- -->
                            <li><a href="/">ໜ້າຫຼັກ</a></li>
                            <li><a href="#">ບໍລິການ
                                <i class="indicator-desktop fa fa-angle-down"></i> </a> <!-- Desktop sub menu indicator icon -->
                                <i class="indicator-mobile fa fa-angle-down"></i>       <!-- Mobile view sub menu indicator icon -->

                                <!-- Sub menu level 1 -->
                                <ul class="sub-menu">
                                    <li><a href="/service/it-advisor">ບໍລິການດ້ານຄວາມຮູ້ໄອທີ</a></li>
                                    <li><a href="/service/it-consulte">ບໍລິການໃຫ້ຄຳປຶກສາກ່ຽວກັບລະບົບ</a></li> <!-- /service/it-consulte -->
                                    <li><a href="/service">ບໍລິການທັງໝົດຂອງພວກເຮົາ</a></li>
                                </ul>
                            </li>
                            
                            <li><a href="#">ຜະລິດຕະພັນສຳເລັດຮູບ
                                <i class="indicator-desktop fa fa-angle-down"></i> </a> <!-- Desktop sub menu indicator icon -->
                                <i class="indicator-mobile fa fa-angle-down"></i>       <!-- Mobile view sub menu indicator icon -->

                                <!-- Sub menu level 1 -->
                                <ul class="sub-menu">
                                    <li><a href="/products">ຜະລິດຕະພັນທັງໝົດ</a></li>
                                    <li><a href="/trains">ລາຍການຟຶກອົບຕ່າງໆ</a></li>

                                    <li><a href="#">ລະບົບ ERP & Finance
                                        <i class="indicator-desktop fa fa-angle-right"></i> </a>    <!-- Desktop sub menu indicator icon -->
                                        <i class="indicator-mobile fa fa-angle-down"></i>    <!-- Mobile view sub menu indicator icon -->

                                        <!-- Sub menu level 2 -->
                                        <ul class="sub-menu">
                                            <li><a href="#">ລະບົບ​ ບັນ​ຊີ</a></li>
                                            <li><a href="#">ລະບົບ ອອກ​ໃບ​ແຈ້ງ​ໜີ້(Invoice)</a></li>
                                            <li><a href="#">ລະບົບ ຄ່າ​ໃຊ້​ຈ່າຍ</a></li>
                                            <li><a href="#">ລະບົບ Spreadsheet (BI)</a></li>
                                            <li><a href="#">ລະບົບ ເອກະສານ</a></li>
                                            <li><a href="#">ລະບົບ ລົງລາຍເຊັນອອນລາຍ</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="#">ລະບົບການຂ່າຍ & ການຕະຫຼາດ
                                        <i class="indicator-desktop fa fa-angle-right"></i> </a>    <!-- Desktop sub menu indicator icon -->
                                        <i class="indicator-mobile fa fa-angle-down"></i>    <!-- Mobile view sub menu indicator icon -->

                                        <!-- Sub menu level 2 -->
                                        <ul class="sub-menu">
                                            <li><a href="#">ລະບົບ ຕິດຕໍ່ລູກຄ້າ CRM</a></li>
                                            <li><a href="#">ລະບົບ ການ​ຂາຍ</a></li>
                                            <li><a href="#">ລະບົບ ລະບົບ​ຂາຍ​ໜ້າຮ້​ານ</a></li>
                                            <li><a href="#">ລະບົບ ສະມາຊິກ</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="#">ເວບໄຊ WEBSITES
                                        <i class="indicator-desktop fa fa-angle-right"></i> </a>    <!-- Desktop sub menu indicator icon -->
                                        <i class="indicator-mobile fa fa-angle-down"></i>    <!-- Mobile view sub menu indicator icon -->

                                        <!-- Sub menu level 2 -->
                                        <ul class="sub-menu">
                                            <li><a href="#">ລະບົບ ໜ້າເວັບ​ໄຊ​ຕ໌ບໍລິສັດ</a></li>
                                            <li><a href="#">ລະບົບ  e-Commerce</a></li>
                                            <li><a href="#">ລະບົບ  e-Learning</a></li>
                                            <li><a href="#">ລະບົບ ແຊັດ ວີດີໂອຄໍ ພາຍໃນບໍລິສັດ</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="#">INVENTORY & MRP
                                        <i class="indicator-desktop fa fa-angle-right"></i> </a>    <!-- Desktop sub menu indicator icon -->
                                        <i class="indicator-mobile fa fa-angle-down"></i>    <!-- Mobile view sub menu indicator icon -->

                                        <!-- Sub menu level 2 -->
                                        <ul class="sub-menu">
                                            <li><a href="#">ລະບົບ ສາງ</a></li>
                                            <li><a href="#">ລະບົບ ການຜະລິດ</a></li>
                                            <li><a href="#">ລະບົບ  PLM</a></li>
                                            <li><a href="#">ລະບົບ ຈັດຊື້</a></li>
                                            <li><a href="#">ລະບົບ ສ້ອມແປງ</a></li>
                                            <li><a href="#">ລະບົບ ຄຸນນະພາບ</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="#">ຊັບພະຍາກອນບຸກຄົນ
                                        <i class="indicator-desktop fa fa-angle-right"></i> </a>    <!-- Desktop sub menu indicator icon -->
                                        <i class="indicator-mobile fa fa-angle-down"></i>    <!-- Mobile view sub menu indicator icon -->

                                        <!-- Sub menu level 2 -->
                                        <ul class="sub-menu">
                                            <li><a href="#">ລະບົບ HR</a></li>
                                            <li><a href="#">ລະບົບ ສັນຫາພະນັກງານ</a></li>
                                            <li><a href="#">ລະບົບ  Time Off</a></li>
                                            <li><a href="#">ລະບົບ ປະເມີນພະນັກງານ</a></li>
                                            <li><a href="#">ລະບົບ ລະບົບແນະນຳພະນັກງານ</a></li>
                                            <li><a href="#">ລະບົບ ພາຫະນະ</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="#">SERVICES & PRODUCTIVITY
                                        <i class="indicator-desktop fa fa-angle-right"></i> </a>    <!-- Desktop sub menu indicator icon -->
                                        <i class="indicator-mobile fa fa-angle-down"></i>    <!-- Mobile view sub menu indicator icon -->

                                        <!-- Sub menu level 2 -->
                                        <ul class="sub-menu">
                                            <li><a href="#">ລະບົບ ໂຄງການ</a></li>
                                            <li><a href="#">ລະບົບ ໃບບັນທຶກເວລາງານ</a></li>
                                            <li><a href="#">ລະບົບ ລະບົບການຈັດການບໍລິການພາກໜາມ</a></li>
                                            <li><a href="#">ລະບົບ ພະນັກງານຊ່ວຍເຫຼືອ</a></li>
                                            <li><a href="#">ລະບົບ ການວາງແຜນ</a></li>
                                            <li><a href="#">ລະບົບ ການນັດໝາຍ</a></li>
                                            <li><a href="#">ລະບົບ ສົນທະນາ</a></li>
                                            <li><a href="#">ລະບົບ ລະບົບການອະນຸມັດ</a></li>
                                        </ul>
                                    </li>

                                </ul>

                
                            </li>
                            
                            <li><a href="#">ປະຊາສຳພັນ
                                <i class="indicator-desktop fa fa-angle-down"></i> </a> <!-- Desktop sub menu indicator icon -->
                                <i class="indicator-mobile fa fa-angle-down"></i>       <!-- Mobile view sub menu indicator icon -->

                                <!-- Sub menu level 1 -->
                                <ul class="sub-menu">
                                    <li><a href="#">Story Today</a></li>
                                    <li><a href="#">Blogs</a></li>
                                </ul>
                            </li>
                            <li><a href="#">ສຳລັບພັດທະນາ</a></li>
                            <li><a href="/about">ກ່ຽວກັບບໍລິສັດ</a></li>
                            <li><a href="/contact">ຕິດຕໍ່ພວກເຮົາ</a></li>
                        </ul>
                    </nav>
                    <!-- End Navigation -->

                </div>
            </div>
        </div>
        <!-- End Bootstrap -->

    </header>
    <!-- End Header -->